<html>
<head>
	<title>Family: <%= @page_data[:family][:name] %></title>
    <meta property="og:url"           content="http://treelib.ca/species/family/<%= @page_data[:family][:name].gsub(" ","_") %>" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="TreeLib Family: <%= @page_data[:family][:name] %>" />
    <meta property="og:description"   content="" />
    <% if @page_data[:family][:photos] %>
    <meta property="og:image"         content="<%= @page_data[:family][:photos][rand(@page_data[:family][:photos].length)][:thumb] %>" />
    <% end %>
    <link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon'/ >
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/family_page.css">
    <script type="text/javascript" src="/js/analytics.js"></script>
</head>
<body>
	<div class="mainContainer">
        <div id="app"></div>
    </div>
    <script type="text/javascript">
        window.pageData = <%= @page_data.to_json %>;
    </script>
	<script src="/js/autres.bundle.js"></script> 
    <script src="/js/family_page.js"></script>
</body>
</html>